:root {
    --main-orange: #ff9458;
    --main-green: #5cdc97;
    --main-red: #cf0000;
    --main-white: #f0f0f0;
    --main-blue: #3bceff;
    --main-purple: #9673ff;
    --blue: #008290;
    --black: #000000;
    --white: #ffffff;
}