:root {
    --login-blue: #3bceff;
    --login-purple: #9673ff;
    --form__field-white: #F0F0F0;
    --form__button-green: #2B926D;
    --form__button_remove-red: #aa5151;
    --form__button_skip-orange: #cb7c35;

    --navigation__header: #F89595;
    --main-blue: #77B4C8;
    --navigation__font: #000000;
    --navigation__font-white: #FFFFFF;
    --navigation__button-red: #CF0000;
    --navigation__button: #92E9BA;

}