@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

:root {
    --main-orange: #ff9458;
    --main-green: #5cdc97;
    --main-red: #cf0000;
    --main-white: #f0f0f0;
    --main-blue: #3bceff;
    --main-white: #f0f0f0;
    --dark-blue: #09334f;
    --main-purple: #9673ff;
    --blue: #008290;
    --black: #000000;
    --white: #ffffff;
    --grey: #808080;
    --main-darker-gray: #acacac;
    --main-lighter-gray: #d9d9d9;
    --light-green: #9bdaa1;

    --transparent-black: rgba(0, 0, 0, 0.6);

    font-family: "Roboto", sans-serif;
    font-size: 18px;
}
