body {
    height: 100%;
    background: linear-gradient(90deg, #8E85A8 50%, #77B4C8 50%);
}

.view-button {
    display: flex;
    flex-direction: column;

}
/*#region LOGIN FORM */
.login-form {
    order: 0;
    position: absolute;
    position: relative;
    margin: 300px 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    width: 356px;
    height: 310px;


    background: #77B4C8;
}

.login-form__submit {
    position: relative;
    width: 350px;
    height: 54px;

    background: #396454;
    border-radius: 12px;
}

.login-form__email {
    position: relative;

    width: 350px;
    height: 54px;

    background: #F0F0F0;
    border-radius: 12px;
}

.login-form__password {
    position: relative;

    width: 350px;
    height: 54px;

    background: #F0F0F0;
    border-radius: 12px;
}
/* #endregion LOGIN FORM */


/* #region REGISTRATION FORM */
.regi-form {
    order: 0;
    position: absolute;
    position: relative;
    margin: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    width: 440px;
    height: 786px;
    margin: 100px 150px 0px;


    background: #8E85A8;
}

.regi-form__email {
    width: 356px;
    height: 54px;

    background: #F0F0F0;
    border-radius: 12px;

}

.regi-form__password {
    width: 356px;
    height: 54px;

    background: #F0F0F0;
    border-radius: 12px;
}

.regi-form__Fname {
    width: 356px;
    height: 54px;

    background: #F0F0F0;
    border-radius: 12px;
}

.regi-form__Lname {
    width: 356px;
    height: 54px;

    background: #F0F0F0;
    border-radius: 12px;
}

.regi-form__birthday {
    width: 356px;
    height: 54px;

    background: #F0F0F0;
    border-radius: 12px;
}

.regi-form__submit {
    width: 356px;
    height: 54px;

    background: #396454;
    border-radius: 12px;
}
/* #endregion REGISTRATION FORM */

/* #region SECOND STAGE OF REGISTRATION FORM */
.regi-form__second-stage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    width: 440px;
    height: 786px;
    margin: 40px 150px 0px;
}

.regi-form__second-stage__avatar {
    width: 250px;
    height: 250px;

    background: #FFFFFF;
    border-radius: 12px;

}

.regi-form__second-stage__username {
    width: 356px;
    height: 54px;

    background: #F0F0F0;
    border-radius: 12px;
}

.regi-form__second-stage__bio {
    width: 356px;
    height: 120px;

    background: #F0F0F0;
    border-radius: 12px;
}


.regi-form__second-stage__button {
    display: flex;
    flex-direction: row;

    gap: 40px;
    width: 440px;
    height: 74px;
}
.regi-form__second-stage__button__back {
    width: 200px;
    height: 54;

    background: #643939;
    border-radius: 12px;
}

.regi-form__second-stage__button__continue {
    width: 200px;
    height: 54;

    background: #396454;
    border-radius: 12px;

}
/* #endregion SECOND STAGE */

/* #region CHANGE VIEW FOR LOGIN/REGISTRATION */
.view-button__login-form {

    width: 100px;
    height: 29px;
    position: relative;

    margin: 0px 320px 0px;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: #000000;
    border: none;
    background-color: #8E85A8;
}

.view-button__regi-form {
    width: 185px;
    height: 30pxpx;

    margin: -300px 1380px;
    font-family: initial;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;

    color: #000000;
    background-color: #77B4C8;
    border: none;
    
    position: relative;
    display: flex;
    right: inherit;

    

}

/* #endregion CHANGE VIEW FOR LOGIN/REGISTRATION */