.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.container-separator {
    width: 100%;
    border: 1px solid var(--main-white);
}

.following-followers {
    box-sizing: border-box;
    background-color: var(--main-orange);
    padding: 0.5em;
    gap: 1em;
    position: fixed;
    height: min(100%, 1000px);
}

.following-followers__container {
    height: min(50%, 500px);
    overflow-y: auto;
}

.following-followers__container > h3 {
    align-self: center;
    color: var(--main-white);
}

.following-followers__container > ul {
    padding-inline: 1em;
    gap: 0.5em;
}

.following-followers__container li {
    list-style-type: none;
    background-color: var(--main-white);
    color: var(--black);

    padding: 0.5em 1em;
    align-items: center;
    gap: 2em;
    border-radius: 10px;
}

.avatar-img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}