.user-list__item {
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: var(--main-orange);
  border-radius: 12px;
  padding: 0.7em 1em 0.7em 1em;
  cursor: pointer;
}

.avatar-section {
  display: flex;
}

.avatar-section__image {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.info_section {
  display: flex;
  flex-direction: column;
}

.info_section__name {
  font-size: 30px;
  white-space: nowrap;
}

.info_section__follow-status {
  font-size: 30px;
  white-space: nowrap;
}