.create-post {
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    background: var(--main-orange);
}

.create-post__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5em;
}

.create-post__text {
    width: 100%;
    min-height: 215px;
    padding: 0;
    resize: none;
}

.create-post__attachment-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.create-post__attachment {
    padding: 0.2em;
    border-radius: 5px;

    list-style-type: none;
    background: whitesmoke;
}

.create-post__options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.create-post__settings {
    display: flex;
    align-items: center;
    gap: 1em;
}

.create-post__settings__privacy {
    -webkit-appearance: none;

    width: clamp(10vw, 10em, 25vw);
    padding: 0.5em 1em;
    border-radius: 5px;
    
    background-color: var(--main-green);
    border: none;
    background-image: url("../../assets/down_arrow.svg");
    background-repeat: no-repeat;
    background-position: right center;
    background-position: calc(100% - 1em);
}

.create-post__settings__privacy::-ms-expand {
    display: none;
}

.create-post__settings__attachment__label {
    line-height: 0;
}

.create-post__settings__attachment__img {
    width: 1.5em;
}

.create-post__add-users__img {
    width: 1.5em;
}

.create-post__create-btn {
    width: clamp(10vw, 5em, 25vw);
    padding: 0.5em 1em;
    border-radius: 5px;
    background-color: var(--main-green);
    border: none;
}