.modal-wrapper {
    display: flex;
    flex-direction: column;
}

.post-form__fixed-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    background-color: var(--transparent-black);
}

.post-form__wrapper {
    display: flex;
    box-sizing: border-box;
    width: 70%;
    height: 55%;
    max-height: 90vh;
    min-width: min-content;
    padding: 1em;
    background: var(--main-orange);
    font-size: 28px;
}

.post-form__wrapper_auto-height {
    height: auto;
}

.post-form {
    display: flex;
    width: stretch;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5em;
}

.post-form__text {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    min-height: 215px;
    padding: 0.5em;
    resize: none;
    border: 1px solid black;
}

.post-form__attachment-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 0.3em;
    overflow-y: scroll;
}

.post-form__attachment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2em 0.5em;
    border-radius: 5px;
    gap: 0.5em;

    list-style-type: none;
    background: whitesmoke;
}

.post-form__attachment-name {
    cursor: pointer;
    text-align: center;
}

.post-form__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-form__bar_reverse-flex {
    flex-direction: row-reverse;
}

.post-form__options {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em;
}

.post-form__privacy {
    appearance: none;
    -webkit-appearance: none;

    box-sizing: border-box;
    width: clamp(10vw, 10em, 25vw);
    min-width: min-content;
    padding: 0.5em 1em;
    border-radius: 5px;

    background-color: var(--main-green);
    border: 1px solid black;
    background-image: url("../../assets/down_arrow.svg");
    background-repeat: no-repeat;
    background-position: right center;
    background-position: calc(100% - 1em);
}

.post-form__privacy::-ms-expand {
    display: none;
}

.post-form__attachment-label {
    line-height: 0;
}

.post-form__attachment-img {
    width: 2em;
    cursor: pointer;
}

.post-form__add-users-img {
    width: 2em;
    cursor: pointer;
}

.add-users {
    background-color: var(--transparent-black);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    position: fixed;
    top: 0%;
    left: 0%;
}

.add-users__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;

    max-height: 60%;
    max-width: 70%;
    padding: 1em;
    gap: 1em;

    border-radius: 12px;
    background-color: orange;
}

.add-users__user-checkbox-wrapper {
    cursor: pointer;
}

.add-users__user-checkbox {
    display: none;
}

.add-users__scroll {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    width: 100%;
    padding: 0.5em 0.25em;
    gap: 0.5em;

    overflow-y: auto;

    font-size: 18px;
}

.add-users__button-container {
    display: flex;
    gap: 0.5em;
}

.post-form__buttons {
    display: flex;
    gap: 0.5em;
}
