.create-new-group__button {
    box-sizing: border-box;
    padding: 13px 50px;
    font-weight: bold;
    color: var(--white);
    font-size: 26px;
}

.create-group-form {
    width: 50%;
    height: 50%;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    left: 35%;

    gap: 20px;
    background-color: var(--main-orange);
}

.create-group-form__textinput {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    align-items: center;
    text-align: center;
    border-radius: 12px;
    border: 0;

    overflow-y: hidden;
}

.create-group-form__textarea {
    height: 100%;
    resize: none;
}

.create-group-form__buttons {
    display: flex;
    gap: 20px;
}
