body {
    height: auto;
    width: auto;
    background: var(--main-blue);
}


.header {
    overflow: hidden;
    padding: 20px 20px 15px 20px;

    width: auto;
    height: 65px;

    background: var(--navigation__header);


    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: var(--navigation__font)
}

.navigation__profile {
    text-align: center;

    width: 8%;
    height: 60px;

    background: var(--navigation__button);
    border-radius: 12px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: var(--navigation__font)

}

.navigation__groups {
    width: 8%;
    height: 60px;

    background: var(--navigation__button);
    border-radius: 12px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: var(--navigation__font)
}

.navigation__users {
    width: 7%;
    height: 60px;

    background: var(--navigation__button);
    border-radius: 12px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: var(--navigation__font)
}

.navigation__notifications {
    width: 12%;
    height: 60px;

    background: var(--navigation__button);
    border-radius: 12px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: var(--navigation__font)
}
.navigation__logout {
    float: right;
    width: 8%;
    height: 60px;

    background: var(--navigation__button-red);
    border-radius: 12px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: var(--navigation__font-white)
}
