.header {
    box-sizing: border-box;
    display: flex;

    padding: 10px 40px;
    gap: 40px;
    min-width: max-content;

    background: var(--main-orange);
}

.header__button {
    height: 100%;
    font-size: 26px;
}

.header__button_right-side {
    margin-left: auto;
}
