.information {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    min-width: min-content;
    height: min-content;
    padding: 20px 60px;
    font-size: 28px;

    background-color: var(--main-blue);
}

.information__short-container {
    display: flex;
    justify-content: space-between;

    width: 100%;
    gap: 10px;
    min-width: fit-content;
}

.information__buttons {
    display: flex;
    gap: 14px;
}

.information__detailed-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-sizing: border-box;
    padding: 30px 20px 0;
}

.information__detailed-container {
    overflow: hidden;
    transition: max-height ease-in-out 0.9s;
}

.button_follow-status_unknown {
    background-color: var(--grey);
}

.button_follow-status_not-following {
    background-color: var(--main-green);
}

.button_follow-status_requested {
    background-color: var(--main-purple);
}

.button_follow-status_following {
    background-color: var(--main-red);
}

.b {
    display: grid;
    overflow-y: hidden;
    grid-template-columns: 1fr 2fr;
}
