.button {
    box-sizing: border-box;

    padding: 10px;
    border: 0;
    border-radius: 12px;

    cursor: pointer;
    white-space: nowrap;

    color: var(--black);
    background-color: var(--main-green);
}

.button_red {
    background-color: var(--main-red);
    color: var(--white);
}

.label {
    display: flex;
    gap: 1em;

    color: var(--black);
}

.label__section {
    margin: 0;
    color: var(--black);
}
