.notifications-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.notifications-list__empty-message {
    font-size: 24px;
}

.notification {
    display: flex;
    flex-direction: column;
    height: min-content;
    padding: 30px;
    box-sizing: border-box;
    gap: 17px;
    border-radius: 12px;
    background-color: var(--main-lighter-gray);
}

.notification__text {
    margin: 0;
}

.notification__buttons-container {
    display: flex;
    gap: 20px;
}

.notification__button {
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: var(--main-white);
}
