.post {
    box-sizing: border-box;
    width: 100%;
    min-width: fit-content;
    padding: 1em;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;

    background-color: var(--main-orange);
}

.post__info {
    display: flex;
    align-items: baseline;
    gap: 0.5em;
    margin: 0;
    color: var(--black);
    font-size: 18px;
}

.post__info__date {
    color: #4d4d4d;
    font-size: 0.9em;
}

.post__text {
    box-sizing: border-box;
    overflow-y: hidden;
    margin: 0;
    padding: 0.5em;
    width: 100%;
    text-align: center;
    border-radius: 12px;
    background-color: var(--main-white);
    font-size: 20px;

    transition: max-height ease-in-out 0.9s;
}

.post__attachment {
    width: 100%;
    align-self: center;
}

.post__actions {
    width: 100%;
    display: flex;
    align-items: center;
}

.post__attachments-toggler {
    font-weight: 700;
    cursor: pointer;
    margin: 0;
}

.post__add-comment {
    margin-left: auto;
    width: 40px;
    cursor: pointer;
}

.postList {
    display: flex;
    flex-direction: column;
    padding: 1em;
    box-sizing: border-box;
    gap: 1em;
    overflow-y: scroll;
}
