.post {
    box-sizing: border-box;
    width: 100%;
    min-width: fit-content;
    padding: 1em;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1em;

    background-color: var(--main-orange);
}

.post__text {
    box-sizing: border-box;
    overflow-y: hidden;
    margin: 0;
    padding: 0.5em;
    border-radius: 12px;
    background-color: var(--main-white);

    transition: max-height ease-in-out 0.9s;
}

.post__attachment {
    width: 100%;
}

.post__actions {
    width: 100%;
    display: flex;
    align-items: center;
}

.post__attachments-toggler {
    font-weight: 700;
    cursor: pointer;
    margin: 0;
}

.post__add-comment {
    margin-left: auto;
    width: 40px;
    cursor: pointer;
}

.postList {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 1em;
}

.post__comments {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.6em;
}

.post__comment {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 0.25em;
}

.comment__user__link, .comment__text {
    margin: 0;
    padding: 0;
    color: var(--black);
}

.comment__user__link {
    position: relative;
    text-decoration: none;
    font-weight: 500;
    margin-right: 0.5em;
}

.comment__user__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: gray;
}

.comment__timestamp {
    font-size: 0.9em;
}